.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.logo{
    position: fixed;
    width: 80px;
}

.avatarlogo{
    position: fixed;
    right: 20px;
    width: 30px;
}