.banner{
    height: 428px;
    color: white;
}

.content{
    padding-top: 120px;
    height: 190px;
    margin: 20px;
}

.title{
    font-size: 3.8rem;
    font-weight: 500;
    color: #f10b0bc4;
    font-style: oblique;
}
.showtime{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.button{
    color: rgb(239, 231, 231);
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 7px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(220, 167, 9);
    cursor: pointer;
    margin-right: 1rem;
}


.button:hover{ 
    color: rgb(226, 77, 77);
    background-color: #c5d2da;
}

.description{
    max-width: 800px;
    width: 100%;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.4rem;
    height: 80px;
    font-style: italic;

    display: -webkit-box;
    -webkit-line-clamp: 5;      /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.fade_bottom{
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}