.row {
    margin-left: 20px;
    margin-bottom: 20px;
    color: #fff;
  }

  .posters {
    display: flex;
    gap: 25px;
    scroll-behavior: smooth;
  }
  
  .posters::-webkit-scrollbar {
    display: none;
  }
  .category{
    margin-bottom: 5px;
  }
  .poster-wrapper {
    flex: 0 0 auto;
    width: 300px;
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .posters:hover .poster-wrapper {
    transform: scale(0.9);
  }
  
  /* OVERRIDE shrink for hovered item */
  .posters:hover .poster-wrapper:hover {
    transform: scale(1.28) ;
    z-index: 10;
  }
  
  
  .poster-wrapper:hover .poster {
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  }
  

  .poster-container {
    position: relative;
    border-radius: 5px;
  }
  
  /* image */
  .poster {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    /* display: block; */
  }
  
  /* overlay */
  .poster-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    );
    transition: opacity 0.3s ease;
  }
  
  .poster-title {
    color: #fff;
    font-size: 14px;
    margin: 0;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  }
  